.header-title {
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    width: 100vw;
    top: 2vh;
}

.header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    border-bottom: 2px solid black;
    background-color: rgb(74, 74, 74);
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
}

.container {
    position: absolute;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0px 0px 5px black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    left: 25vw;
    bottom: 0;
    height: 85vh;
    width: 50vw;
}

.text {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 40%;
    left: 2.5%;
    width: 95%;
}

.link {
    text-decoration: none;
    color: black;
}

.about-container {
    position: absolute;
    background-color: rgb(203, 203, 203);
    top: 15%;
    right: 5%;
    width: 35%;
    height: 15%;
    border-radius: 5px;
    border: 3px black solid;
}

.about-text {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    left: 20%;
    top: 5%;
    width: auto;
}

.blog-container {
    position: absolute;
    background-color: rgb(203, 203, 203);
    top: 15%;
    left: 5%;
    width: 35%;
    height: 15%;
    border-radius: 5px;
    border: 3px black solid;
}

.blog-text {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    left: 28%;
    top: 5%;
    width: auto;
}

@media screen and (max-width:800px) {
    .title {
        top: 2%;
        font-size: 25px;
    }
    
    .about-container {
        width: 35%;
    }

    .about-text {
        left: 5%;
        width: 110%;
        font-size: 15px;
        top: 22%;
    }

    .blog-container {
        width: 35%;
    }

    .blog-text {
        font-size: 15px;
        left: 20%;
        top: 22%;
    }

    .text {
        font-size: 15px;
    }
}